
language: python
python:
    - "3.2"
    - "3.3"
    - "3.4"
env:
    global:
        - COVERAGE_PROCESS_START=$PWD/.coveragerc
        - COVERAGE_FILE=$PWD/.coverage
before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
install:
    - pip install git+https://github.com/hotgloupi/behave
    - pip install python-coveralls
    - python setup.py develop
    - sudo apt-get install -qq g++-4.4
    - sudo apt-get install -qq g++-4.5
    - sudo apt-get install -qq g++-4.6
    - sudo apt-get install -qq g++-4.7
    - sudo apt-get install -qq g++-4.8
script:
    - coverage erase
    - coverage run -a --source=src/configure setup.py test
    - coverage run -a --source=src/configure `which behave` tests/features -q -m -k -T --no-summary --no-snippets
    - coverage combine
    - coverage report
    - coveralls
git:
    submodules: false
